html {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    box-sizing: inherit;
    /* transition: .25s; */
}

:root {
    --blue: #1DA1F2;
    --bg: #15202B;
    --blue-label: #1A91DA;
    --blue-hover: #1B95E0;
    --grey-font: #8899A6;
    --grey-inputbg: #253341;
    --grey-floating-panel: #192734;
    --grey-floating-panel-hover: #202E3A;
    --red: #D6235B;
    --search-input-width: 700px;
}

body {
    touch-action: manipulation;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg);
    scroll-behavior: smooth;
}

a, a:visited {
    cursor: pointer;
    color: var(--blue-label);
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}

a:hover, a:active {
    color: var(--blue-hover);
    border-bottom: 1px solid var(--blue-hover);
}

.mention {
    cursor: pointer;
    color: var(--blue-label);
    border-bottom: 1px solid transparent;
}

.mention:hover, .mention:active {
    border-bottom: 1px solid var(--blue-hover);
}

*[data-selected="true"] {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

input[type="search"], input[type="email"], input[type="text"], input[type="password"] {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0px;
    border: 1px solid transparent;
}

input[type="search"] {
    transition: 0.2s;
    font-size: inherit;
    width: 700px;
    width: var(--search-input-width);
    max-width: 700px;
    height: 55px;
    color: white;
    background-color: var(--grey-inputbg);
    border: 1px solid var(--bg);
    border-radius: 50px;
    padding: 20px 20px 20px 60px;
    margin-bottom: 30px;
}

input[type="search"]:not(:placeholder-shown) {
    padding-right: 60px;
    padding-left: 25px;
}

input[type="search"]:focus,  input[type="search"]:active, input[type="search"]:hover {
    border: 1px solid var(--blue);
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 30px -10px;
}

input[type="search"]::placeholder {
    color: var(--grey-font);
}

input {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0px;
    border: 1px solid transparent;
}

.search-icon {
    position: absolute;
    pointer-events: none;
    fill: var(--grey-font);
    width: 60px;
    left: 0px;

    bottom: 52%;
    padding: 0px 10px 0px 0px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: all 0.3s ease;
    margin-left: 15px;
}

input[type="search"]:not(:placeholder-shown) + .search-icon {
    cursor: pointer;
    pointer-events: all;
    fill: var(--blue);
    margin-left: Calc(var(--search-input-width) - 55px);
}

button {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
	justify-content: space-around;
    cursor: pointer;
	width: 150px;
	height: 38px;
	padding: 5px 10px;
    border: 0;
    border-radius: 100px;
	background-color: var(--blue);
	transition: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0.05s;
	opacity: 1;
}

button:hover, button:active {
    opacity: 0.8;
}


.modal {
    z-index: 20;
    position: absolute;
    left: 0; 
    right: 0; 
    /* width: 500px;
    height: 500px; */
    top: 0px;
    bottom: 0px;
    margin: auto;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;
}

.media-modal {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    padding-top: 100px;
    overflow: auto;
    margin: auto;
    display: block;
    /* width: 80%; */
    max-width: 700px;
    /* max-width: 70vw; */
    max-height: 80vh;
    object-fit: contain;
    box-shadow: rgba(4, 74, 111, 0) 0px 0px 20px -5px;

    /* background-image: url("https://pbs.twimg.com/media/EhYqtxMXsAEIwLz?format=jpg&name=large"); */

    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
}

.media-modal-close {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
    fill: var(--red);
    margin: 10px;
    background-color: var(--bg);
    border-radius: 100px;
}

.screen-fade {
    position: absolute;
    z-index: 18;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    opacity: 0.9;
}

.session-over-modal {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--grey-floating-panel-hover);

}

header {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--grey-inputbg);
}

.header-text {
    font-weight: 700;
    transform: translateX(-140px);
}

.main-container {
    display: flex;
    min-height: 0px;
    justify-content: center;
    justify-content: space-around;
    width: 100vw;
    /* max-width: 1500px; */
}

.side-nav-container {
    border-radius: 15px;
    background-color: var(--grey-floating-panel);
    height: 100%;
    width: 350px;
    min-width: 300px;
    margin: 50px 20px 0px 50px;
    font-weight: 700;
}

.side-nav-item {
    display: flex;
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid var(--grey-inputbg);
    transition: 0.3s;
}

.side-nav-item[data-selected ="true"]{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.side-nav-item:last-child {
    border-bottom: 0px;
}

.side-nav-item:hover {
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item:first-child:hover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item:last-child:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item > svg {
    margin-right: 15px;
    fill: white;
}

.side-nav-item[data-selected="true"] > svg {
    fill: var(--blue);
}

.about {
    position: relative;
}

.about-modal {
    /* text-align: center; */
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-inputbg);
    background-color: var(--bg);
    padding: 50px 20px;
    cursor: default;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;
    border: 1px solid var(--blue);
}

.about-header {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.about-text {
    font-weight: 400;
    font-size: 0.9rem;
}

.user-profile {
    position: relative;
    background-color: var(--grey-inputbg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user-auth-div {
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--grey-inputbg);
    background-color: var(--bg);
    width:650px;
    height: 700px;
    /* transform: translate(-20px, -100px); */
    padding: 50px 15px;
    cursor: default;
    box-shadow: rgba(4, 74, 111, 0.4) 0px 0px 20px -5px;
    /* margin-left: 20px; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.user-auth-div input::placeholder {
    font-size: 0.9rem;
}

.user-auth-div input.auth-error::placeholder {
    color: var(--red);
    opacity: 1;
}


.user-auth-div-modal {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 600px;
    height: 550px;
    height: 700px;

    margin: auto;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;

}

.login-div, .signup-div, .forgot-password-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 320px;
    height: 350px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: 1px solid white;
    border-radius: 15px;
}

.forgot-password-message {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 15px;
}

.login-from-modal {
    cursor: pointer;
}

.auth-header {
    font-size: 1rem;
    margin-bottom: 50px;
}

.user-auth-div label {
    pointer-events: none;
    color: var(--grey-font);
    font-size: 0.8rem;
    font-weight: 400;
    align-self: flex-start;
    transform: translate(77px, -85px);
    transition: .3s cubic-bezier(0, 1.8, 1, 1.8);
    opacity: 0;
}


.user-auth-div input:not(:placeholder-shown) + label {
    color: var(--blue-label);
    transform: translate(76px, -65px);
    opacity: 1;
}

.user-auth-div input {
    padding: 10px 15px;
    color: white;
    font-size: 1rem;
    height: 48px;
    width: 80%;
    background-color: var(--grey-floating-panel);
    margin-top: 5px;
    margin-bottom: 15px;
    transition: .4s cubic-bezier(0, 1.8, 1, 1.8);
    border-bottom: 1.5px solid transparent;
}

.user-auth-div input:hover, .user-auth-div input:focus {
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 20px -5px;
    border-bottom: 1.5px solid var(--blue);
}

.user-auth-div input:not(:placeholder-shown) {
    padding-bottom: 15px;
    padding-top: 40px;
    border-bottom: 1.5px solid var(--blue);
    background-color: var(--bg);
}

.user-auth-div button {
    color: white;
    font-size: 1rem;
    margin-top: 15px;
}

.user-auth-div button:hover {
    background-color: var(--blue-hover);
}

.action-here {
    margin-top: 25px;
    font-weight: 400;
    font-size: 0.8rem;
}

.auth-link {
    cursor: pointer;
    color: var(--blue-label);
}

.auth-link:hover {
    border-bottom: 1px solid var(--blue-hover);
}

.account-warning {
    color: var(--red);
    margin-top: 30px;
    margin-bottom: -15px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.logout-btn {
    background-color: var(--red);
}

.user-auth-div .logout-btn:hover {
    background-color: var(--red);
    opacity: 0.8;
}

.close {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    fill: var(--red);
    margin: 10px;
    background-color: var(--bg);
    border-radius: 100px;
}

.close:hover {
    opacity: 0.7;
}

/* edit */
.center-container {
    width: 740px;
    margin: 0px 20px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;

    height: Calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.25s;
    margin-right: 50px;
    margin-left: 20px;
    min-height: 0px;
}

.home-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: Calc(100vh - 300px); */
    padding-top: 200px;
    height: Calc(100vh - 50px);
}

.home-logo {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-search-input-div{
    position: relative;
    color: var(--grey-font);
}

.main-search-button {
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}

.main-search-button:hover {
    background-color: var(--blue-hover);
}

.search-choices {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.language-choices, .tweet-type-choices {
    display: flex;
}

.search-choices input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.search-choices label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-font);
    background-color: var(--bg);
    width: 80px;
    height: 30px;
    font-size: 0.7rem;
    border-bottom: 1px solid var(--bg);
    transition: 0.2s;
}

.search-choices input[type="radio"]:checked + label {
    color: white;
    background-color: var(--grey-floating-panel-hover);
    border-bottom: 1px solid var(--blue);
}

.search-choices input[type="radio"]:hover + label {
    border-bottom: 1px solid var(--blue);
}

.search-choices input[type="radio"]:focus + label {
    border-bottom: 1px solid var(--blue);
}

.tweet-type-choices label {
    width: 100px;
    margin-top: 30px;
}

.timeline-search-page, .collections-page {
    padding-top: 50px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: Calc(100vh - 50px); */
}

.timeline-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    padding-top: 200px;
}

.collections-page {
    flex-direction: column;
    height: auto;
    width: 740px;
    justify-content: flex-start;
}

.timeline-header {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.timeline-header-slash {
    color: var(--grey-font);
}

.timeline-subheader {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 400;
}

.timeline-search-input-div {
    position: relative;
    color: var(--grey-font);
}

.timeline-search-button {
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}

.timeline-search-button:hover {
    background-color: var(--blue-hover);
}


.search-results, .collection-results {
    padding-top: 50px;
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--grey-inputbg);
    border-right: 1px solid var(--grey-inputbg);
}

.search-header {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 50px;
}

.tweet-results-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.tweet-results-div-error {
    padding: 0px 25px;
}

.tweet-result, .collection-result-item {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    padding: 15px 15px;
    border-top: 1px solid var(--grey-inputbg);
    border-bottom: 1px solid var(--grey-inputbg);
}

.tweet-user-image img, .collection-tweet-user-image img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-right: 10px;
}

.tweet-name-div, .collection-tweet-name-div{
    display: flex;
    align-items: center;
}

.tweet-body {
    /* width: 70%; */
}

.tw-name-item, .collection-tw-name-item {
    margin-right: 5px;
}

.verified, .collection-verified {
    font-size: 15px;
}

.tweet-name, .collection-tweet-name {
    font-weight: 700;
}

.tweet-name {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.tweet-name:hover, .tweet-name:active {
    border-bottom: 1px solid var(--blue-hover);
}

.tweet-username, .tweet-time, .collection-tweet-username, .collection-tweet-time {
    color: var(--grey-font);
}

.tweet-time {
    /* display: none; */
    text-align: right;
}

.tweet-text, .collection-tweet-text {
    margin-bottom: 10px;
}

.tweet-image img, .collection-tweet-image img {
    width: 100%;
    width: 648px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--grey-floating-panel);
}

.tweet-image video, .collection-tweet-image video {
    width: 100%;
    width: 648px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--grey-floating-panel);
}

.tweet-footer {
    width: 648px;
    align-items: center;
}

.tweet-footer, .collection-tweet-footer {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tweet-metrics, .collection-tweet-metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-font);
}

.tweet-metrics p {
    margin-right: 15px;
}

.tweet-icon {
    fill: var(--blue-label);
    margin-right: 3px;
    width: 18px;
    height: 18px;
}

.save-to-collection, .remove-from-collection {
    position: relative;
    cursor: pointer;
    color: var(--blue-label);
    padding: 5px 10px;
    background-color: var(--grey-floating-panel);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.save-to-collection:hover, .remove-from-collection:hover {
    background-color: var(--grey-floating-panel-hover);
}

.save-to-collection svg, .remove-from-collection svg {
    fill: var(--blue-label);
    margin-right: 10px;
    width: 18px;
    height: 18px;
}


.save-to-collection-prompt {
    position: absolute;
    z-index: 20;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--grey-inputbg);
    border-radius: 15px;
    box-shadow: rgba(4, 74, 111, 0.7) 0px 0px 20px -5px;
    border: 1px solid var(--grey-font);
}

.save-to-collection-header {
    background-color: var(--grey-floating-panel);
    width: 350px;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 30px 0px 30px 40px;
}

.collection-login-prompt {
    text-align: center;
    margin-top: 20px;
}

.save-to-collection-item {
    cursor: pointer;
    display: flex;
    width: 100%;
    /* height: 100px; */
    padding: 20px 0px 20px 40px;
    border-bottom: 1px solid var(--grey-floating-panel);
}

.save-to-collection-item:last-child {
    border-bottom: 1px solid var(--grey-floating-panel);
}

.save-to-collection-item:hover, .save-to-collection-item:active {
    color: var(--blue-label);
    background-color: var(--grey-floating-panel-hover);
}

.save-to-collection-prompt svg {
    fill: var(--red);
}

.replying-to {
    cursor: pointer;
    color: var(--blue);
}

.replying-to:hover {
    color: var(--blue-hover);
}

.collections-page-header {
    font-weight: 700;
    font-size: 2.5rem;
    align-self: center;
    margin-bottom: 50px;
}

.collection-count {
    align-self: flex-start;
    margin-bottom: 10px;
}

.create-collection-from-modal {
    position: relative;
    font-size: 0.9rem;
    margin-top: 10px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.create-collection-from-modal input{
    display: flex;
    font-size: 1rem;
    color: white;
    background-color: var(--bg);
    width: 85%;
    height: 40px;
    margin-left: 25px;
    padding: 0px 10px !important;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
}

.create-col-from-modal-btn{
    cursor: pointer;
    position: absolute;
    fill: var(--blue) !important;
    width: 39.9px;
    height: 39.9px;
    transform: translate(Calc(85% + 250px), -40px);
}

.create-col-from-modal-error {
    text-align: center;
    margin-top: 10px !important;
    font-size: 0.3rem;
}

.create-collection-cta {
    color: var(--blue);
    border-radius: 0;
    background-color: var(--grey-floating-panel-hover);
    fill: var(--blue);
    width: 250px;
    /* flex: 160px; */
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.create-collection-input-div {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-collection-input {
    padding: 7px 20px;
    font-size: 1rem;
    color: white;
    width: 400px;
    border-radius: 30px;
    margin-right: 20px;
    background-color: var(--grey-inputbg);
}

.create-collection-input:focus,  .create-collection-input:active, .create-collection-input:hover {
    border: 1px solid var(--blue);
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 30px -10px;
}

.create-collection-input::placeholder {
    color: var(--grey-font);
}

.create-col-btn-and-cancel {
    display: flex;
    align-items: center;
}

.create-collection-close {
    position: relative;
    margin-left: 15px;
    border-radius: 100px;
}

.create-collection-error {
    align-self: flex-start;
}


.collections-list {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 50px 0px;
}

.collection-item {
    min-width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--grey-floating-panel);
    border-bottom: 1px solid transparent;
    transition: 0.15s;
    margin: 5px 5px 5px 0px;
}

.collection-item:hover {
    background-color: var(--grey-floating-panel-hover);
    border-bottom: 1px solid var(--blue);
}

.collection-item[data-selected="true"] {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.remove-from-collection {
    color: var(--red);
}

.remove-from-collection svg {
    fill: var(--red);
}

.remove-from-collection-prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    color: white;
    width: 350px;
    height: 180px;
    background-color: var(--grey-floating-panel);
    transform: translate(-105px, -80px);
    border-radius: 10px;
    padding: 0px 20px;;
}

.remove-prompt-buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-prompt-buttons button {
    font-size: 0.9rem;
    margin: 0px 8px;
}

.remove-prompt-buttons button:hover {
    opacity: 0.85;
}

.remove-prompt-delete {
    background-color: var(--red);
}



.spotlight-container {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 50px 0px 20px;
    border-radius: 15px;
    background-color: var(--grey-floating-panel);
    height: 100%;
    height: 350px;
    width: 350px;
    min-width: 300px;

    padding: 20px;
}

.spotlight-header {
    font-weight: 700;
    display: flex;
}

.light-bulb {
    fill: var(--blue);
}

.spotlight-body {
    margin-top: 30px;
    font-size: 0.8rem;
}


footer {
    padding-top: 10px;
    color: #969696;
    text-align: center;
    /* text-align: right; */
    position: fixed;
    font-size: 0.7rem;
    bottom: 0px;
    padding-bottom: 0px;
    /* padding-right: 10px; */
    width: 100vw;
    background-color: var(--bg);
}

footer .big-footer {
   margin: 0;
   padding: 0;
   white-space: pre;
   margin-bottom: 25px;
}

.made-by-mobile {
    display: none;
}


@media (max-width: 1440px) {
	.spotlight-container {
        display: none;
    }
}

@media (max-width: 1250px) {
    .side-nav-container {
        min-width: 250px;
    }

    input[type="search"] {
        width: 600px;
    }

    input[type="search"]:not(:placeholder-shown) + .search-icon {
        margin-left: Calc(600px - 55px);
    }

    .home-logo, .timeline-header {
        font-size: 4rem;
    }

    .center-container,
    .search-results,
    .collections-page {
        width: 650px;
    }
    
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img,
    .tweet-footer {
        width: 100%;
        width: 550px;
    }
}

@media (max-width: 950px) {
    .side-nav-container {
        min-width: 100px;
    }
    .side-nav-para {
        display: none;
    }

    .center-container,
    .search-results,
    .collections-page {
        width: 650px;
    }
    
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img,
    .tweet-footer {
        width: 100%;
        width: 550px;
    }
}

@media (max-width: 800px) {
    .side-nav-container {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    input[type="search"] {
        width: 450px;
    }

    input[type="search"]:not(:placeholder-shown) + .search-icon {
        margin-left: Calc(450px - 55px);
    }

    .home-logo, .timeline-header {
        font-size: 3rem;
    }

    .center-container,
    .search-results,
    .collections-page {
        width: 550px;
    }
    
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img,
    .tweet-footer {
        width: 450px;
    }

    .tweet-name, .tweet-username {
        flex-shrink: 0;
    }

    .tweet-time {
        flex-shrink: 0;
    }

}


@media (max-width: 700px) {
    .side-nav-container {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .user-auth-div {
        position: fixed;
        width: 90vw;
        height: 80vh;
        height: 83vh;
        top: 0px;
        overflow-y: scroll;
    }

    .center-container,
    .search-results,
    .collections-page {
        width: 450px;
    }
    
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img,
    .tweet-footer {
        width: 350px;
    }

    .tweet-name-div, .tweet-text {
        font-size: 0.9rem;
        flex-wrap: nowrap;
    }
    .tweet-footer {
        font-size: 0.8rem;
    }
}


@media (max-width: 600px) {

    .header-text {
        align-self: flex-start;
        transform: translateX(0);
        margin-left: 15px;
    }

    .side-nav-container {
        z-index: 50;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        bottom: 0px;

        width: 100vw;
        min-width: 100vw;   
        height: 70px;

        border-radius: 0px;
        font-weight: 700;

        background-color: var(--bg);
        background-color: blue;

        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: var(--grey-floating-panel);
    }

    .side-nav-item {
        border-radius: 0px !important;
        height: 100%;
        /* padding: 0px; */
    }

    .side-nav-item[data-selected ="true"]{
        color: var(--blue);
        border-bottom: 2px solid var(--blue);
    }

    .side-nav-item > svg {
        margin-right: 0px;
        fill: white;
    }

    .user-profile {
        background-color: unset;
    }

    .about-modal {
        position: fixed;
        /* position: absolute; */
        padding: 20px;
    }

    /* TODO: STYLE .about-modal-bg BG */

    .user-auth-div {
        position: fixed;
        width: 90vw;
        height: 80vh;
        height: 83vh;
        top: 0px;
        overflow-y: scroll;
    }

    .auth-header {
        margin-bottom: 30px;
        margin-top: -85px;
    }

    .user-auth-div input {
        border-radius: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 90%;
    }

    .user-auth-div label {
        transform: translate(33px, -70px);
    }
    
    
    .user-auth-div input:not(:placeholder-shown) + label {
        transform: translate(33px, -50px);
    }

    .account-warning {
        margin-top: 20px;
        margin-bottom: -85px;
        font-size: 0.6rem;
    }

    .home-logo, .timeline-header {
        font-size: 2rem;
    }

    .timeline-subheader {
        font-size: 1rem;
    }

    input[type="search"] {
        width: 90vw;
        height: 48px;
    }

    input[type="search"]:not(:placeholder-shown) + .search-icon {
        cursor: pointer;
        pointer-events: all;
        fill: var(--blue);
        margin-left: Calc(90vw - 55px);
    }

    .language-choices label {
        width: 70px;
        font-size: 0.8rem;
    }

    .portuguese-div {
        display: none !important;
    }


    .center-container {
        margin: 0px;
        height: Calc(100vh - 50px);
    }

    .home-search-page, .timeline-search-page {
        padding-top: 50px;   
    }

    .center-container,
    .search-results,
    .collections-page {
        width: 350px;
        width: 100vw;
        /* height: Calc(100vh - 200px); */
    }

    .tweet-result:last-child {
        margin-bottom: 100px;
    }

    .collections-page {
        /* display: flex; */
        flex-direction: column;
        width: 95vw;
        height: auto;
    }

    .create-collection-cta {
        margin-bottom: 50px;
    }

    .create-collection-input-div {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .create-collection-input {
        margin-bottom: 20px;
        width: 95vw;
    }

    .create-collection-close {
        margin-left: 40px;
    }

    .create-collection-error {
        text-align: center;
    }

    .collections-list {
        margin: 0px;
    }

    .empty-collection {
        margin-top: 30px;
        padding-bottom: 200px;
    }

    .remove-from-collection-prompt {
        width: 350px;
        height: 180px;
        background-color: var(--grey-floating-panel);
        transform: translate(0px, 0px);
    }


    .session-over-modal {
        width: 350px;
        width: 90vw;
    }
    
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img {
        width: 290px;
        width: 80vw;
        height: 260px;
        border-radius: 12px;
    }



    .tweet-name-div, .tweet-text {
        font-size: 0.9rem;
        flex-wrap: nowrap;
    }
    .tweet-footer {
        font-size: 0.7rem;
        width: 290px;
        width: 80vw;
    }


    .about-modal {
        text-align: center;
        height: 400px;
    }


    .made-by-mobile {
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 0px;
        display: block;
        font-size: 0.8rem;
    }

    .made-by-mobile p {
        text-align: center;
        margin: 0px;
        /* margin-bottom: 10px; */
    }

    .made-by-mobile .made-by {
        margin-bottom: 5px;
    }

    .big-footer {
        display: none;
    }
}


@media (max-width: 400px) {
    .tweet-image video, .collection-tweet-image video,
    .tweet-image img, .collection-tweet-image img {
        height: 160px;
    }

    .save-to-collection-prompt {
        width: 80vw;
        width: 300px;
    }

    .create-col-from-modal-btn {
        transform: translate(Calc(300px - 192px), 10px);
        transform: translate(Calc(300px - 62px), -40px);
    }

    .about-modal {
        text-align: center;
    }

    .tweet-time {
        font-size: 0.7rem;
        text-align: right;
    }
}




.loader {
    margin-left: 5px;
    display: inline-block;
    border: 3px solid white;
    border-top: 2px solid transparent;
    border-radius: 100px;
    width: 25px;
    height: 25px;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.small {
    font-size: 0.6rem;
}

.error {
    color: var(--red) !important;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: -15px;
    margin-bottom: 20px;
}

.auth-error {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--red);
    margin-top: -15px;
    margin-bottom: 20px;
}

.color-blue {
    color: var(--blue);
}

.color-red {
    color: var(--red) !important;
}

.hide {
    display: none;
}