html {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --blue: #1DA1F2;
    --bg: #15202B;
    --blue-label: #1A91DA;
    --blue-hover: #1B95E0;
    --grey-font: #8899A6;
    --grey-inputbg: #253341;
    --grey-floating-panel: #192734;
    --grey-floating-panel-hover: #202E3A;
    --red: #D6235B;
    --search-input-width: 700px;
}

body {
    touch-action: manipulation;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg);
}

a, a:visited {
    cursor: pointer;
    color: var(--blue-label);
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}

a:hover, a:active {
    color: var(--blue-hover);
    border-bottom: 1px solid var(--blue-hover);
}

.mention {
    cursor: pointer;
    color: var(--blue-label);
    border-bottom: 1px solid transparent;
}

.mention:hover, .mention:active {
    border-bottom: 1px solid var(--blue-hover);
}

*[data-selected="true"] {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

input[type="search"], input[type="text"], input[type="password"] {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0px;
    border: 1px solid transparent;
}

input[type="search"] {
    transition: 0.2s;
    font-size: inherit;
    width: 700px;
    width: var(--search-input-width);
    max-width: 700px;
    height: 55px;
    color: white;
    background-color: var(--grey-inputbg);
    border: 1px solid var(--bg);
    border-radius: 50px;
    padding: 20px 20px 20px 60px;
    margin-bottom: 30px;
}

input[type="search"]:not(:placeholder-shown) {
    padding-right: 60px;
    padding-left: 25px;
}

input[type="search"]:focus,  input[type="search"]:active, input[type="search"]:hover {
    border: 1px solid var(--blue);
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 30px -10px;
}

input[type="search"]::placeholder {
    color: var(--grey-font);
}

.search-icon {
    position: absolute;
    pointer-events: none;
    fill: var(--grey-font);
    width: 60px;
    left: 0px;

    bottom: 52%;
    padding: 0px 10px 0px 0px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: all 0.3s ease;
    margin-left: 15px;
}

input[type="search"]:not(:placeholder-shown) + .search-icon {
    cursor: pointer;
    pointer-events: all;
    fill: var(--blue);
    margin-left: Calc(var(--search-input-width) - 55px);
}

button {
    font-family: inherit;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
	justify-content: space-around;
    cursor: pointer;
	width: 150px;
	height: 38px;
	padding: 5px 10px;
    border: 0;
    border-radius: 100px;
	background-color: var(--blue);
	transition: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0.05s;
	opacity: 1;
}

button:hover, button:active {
    opacity: 0.8;
}


.modal {
    z-index: 20;
    position: absolute;
    left: 0; 
    right: 0; 
    width: 500px;
    height: 500px;
    top: 0px;
    bottom: 0;
    margin: auto;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;
}

.screen-fade {
    position: absolute;
    z-index: 18;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    opacity: 0.9;
}

.session-over-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--grey-floating-panel-hover);

}

header {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--grey-inputbg);
}

.header-text {
    font-weight: 700;
    transform: translateX(-140px);
}

.main-container {
    display: flex;
    min-height: 0px;
    justify-content: center;
    justify-content: space-around;
    width: 100vw;
}

.side-nav-container {
    border-radius: 15px;
    background-color: var(--grey-floating-panel);
    height: 100%;
    width: 300px;
    min-width: 300px;
    margin: 50px 20px 0px 50px;
    font-weight: 700;
}

.side-nav-item {
    display: flex;
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid var(--grey-inputbg);
    transition: 0.3s;
}

.side-nav-item[data-selected ="true"]{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.side-nav-item:last-child {
    border-bottom: 0px;
}

.side-nav-item:hover {
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item:first-child:hover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item:last-child:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--grey-floating-panel-hover);
}

.side-nav-item > svg {
    margin-right: 15px;
    fill: white;
}

.side-nav-item[data-selected="true"] > svg {
    fill: var(--blue);
}

.about {
    position: relative;
}

.about-modal {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-inputbg);
    background-color: var(--bg);
    padding: 50px 20px;
    cursor: default;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;
    border: 1px solid var(--blue);
}

.about-header {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.about-text {
    font-weight: 400;
    font-size: 0.9rem;
}

.user-profile {
    position: relative;
    background-color: var(--grey-inputbg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user-auth-div {
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--grey-inputbg);
    background-color: var(--bg);
    width:650px;
    height: 700px;
    /* transform: translate(-20px, -100px); */
    padding: 50px 15px;
    cursor: default;
    box-shadow: rgba(4, 74, 111, 0.4) 0px 0px 20px -5px;
    /* margin-left: 20px; */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.user-auth-div input::placeholder {
    font-size: 0.9rem;
}

.user-auth-div-modal {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 600px;
    height: 550px;
    height: 700px;

    margin: auto;
    box-shadow: rgba(4, 74, 111, 0.8) 0px 0px 20px -5px;

}

.login-div, .signup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-header {
    font-size: 1rem;
    margin-bottom: 50px;
}

.user-auth-div label {
    pointer-events: none;
    color: var(--grey-font);
    font-size: 0.8rem;
    font-weight: 400;
    align-self: flex-start;
    transform: translate(77px, -85px);
    transition: .3s cubic-bezier(0, 1.8, 1, 1.8);
    opacity: 0;
}


.user-auth-div input:not(:placeholder-shown) + label {
    color: var(--blue-label);
    transform: translate(76px, -65px);
    opacity: 1;
}

.user-auth-div input {
    padding: 10px 15px;
    color: white;
    font-size: 1rem;
    height: 48px;
    width: 80%;
    background-color: var(--grey-floating-panel);
    margin-top: 5px;
    margin-bottom: 15px;
    transition: .4s cubic-bezier(0, 1.8, 1, 1.8);
    border-bottom: 1.5px solid transparent;
}

.user-auth-div input:hover, .user-auth-div input:focus {
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 20px -5px;
}

.user-auth-div input:not(:placeholder-shown) {
    padding-bottom: 15px;
    padding-top: 40px;
    border-bottom: 1.5px solid var(--blue);
    background-color: var(--bg);
}

.user-auth-div button {
    color: white;
    font-size: 1rem;
    margin-top: 15px;
}

.user-auth-div button:hover {
    background-color: var(--blue-hover);
}

.action-here {
    margin-top: 25px;
    font-weight: 400;
    font-size: 0.8rem;
}

.auth-link {
    cursor: pointer;
    color: var(--blue-label);
}

.auth-link:hover {
    border-bottom: 1px solid var(--blue-hover);
}

.account-warning {
    color: var(--red);
    margin-top: 30px;
    margin-bottom: -15px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.logout-btn {
    background-color: var(--red);
}

.user-auth-div .logout-btn:hover {
    background-color: var(--red);
    opacity: 0.8;
}

.close {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
    fill: var(--red);
    margin: 10px;
}

.close:hover {
    opacity: 0.7;
}


.center-container {
    width: 740px;
    margin: 0px 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

    height: Calc(100vh - 50px);
    overflow: scroll;
}

.home-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: Calc(100vh - 300px); */
    margin-top: 200px;
}

.home-logo {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.main-search-input-div{
    position: relative;
    color: var(--grey-font);
}

.main-search-button {
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}

.main-search-button:hover {
    background-color: var(--blue-hover);
}

.search-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.language-choices, .tweet-type-choices {
    display: flex;
}

.search-choices input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.search-choices label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-font);
    background-color: var(--bg);
    width: 80px;
    height: 30px;
    font-size: 0.7rem;
    border-bottom: 1px solid var(--bg);
    transition: 0.2s;
}

.search-choices input[type="radio"]:checked + label {
    color: white;
    background-color: var(--grey-floating-panel-hover);
    border-bottom: 1px solid var(--blue);
}

.search-choices input[type="radio"]:hover + label {
    border-bottom: 1px solid var(--blue);
}

.search-choices input[type="radio"]:focus + label {
    border-bottom: 1px solid var(--blue);
}

.tweet-type-choices label {
    width: 100px;
    margin-top: 30px;
}

.timeline-search-page, .collections-page {
    margin-top: 50px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.timeline-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    margin-top: 200px;
}

.collections-page {
    flex-direction: column;
    height: auto;
    width: 740px;
    justify-content: flex-start;
}

.timeline-header {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.timeline-header-slash {
    color: var(--grey-font);
}

.timeline-subheader {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 400;
}

.timeline-search-input-div {
    position: relative;
    color: var(--grey-font);
}

.timeline-search-button {
    color: white;
    font-size: 1rem;
    margin-bottom: 50px;
}

.timeline-search-button:hover {
    background-color: var(--blue-hover);
}


.search-results, .collection-results {
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--grey-inputbg);
    border-right: 1px solid var(--grey-inputbg);
}

.search-header {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 50px;
}

.tweet-result, .collection-result-item {
    display: flex;
    align-items: flex-start;
    padding: 15px 15px;
    border-top: 1px solid var(--grey-inputbg);
    border-bottom: 1px solid var(--grey-inputbg);
}

.tweet-user-image img, .collection-tweet-user-image img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-right: 10px;
}

.tweet-name-div, .collection-tweet-name-div{
    display: flex;
    align-items: center;
}

.tweet-body {
    /* width: 70%; */
}

.tw-name-item, .collection-tw-name-item {
    margin-right: 5px;
}

.verified, .collection-verified {
    font-size: 15px;
}

.tweet-name, .collection-tweet-name {
    font-weight: 700;
}

.tweet-username, .tweet-time, .collection-tweet-username, .collection-tweet-time {
    color: var(--grey-font);
}

.tweet-text, .collection-tweet-text {
    margin-bottom: 10px;
}

.tweet-image img, .collection-tweet-image img {
    width: 100%;
    width: 648px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--grey-floating-panel);
}

.tweet-image video, .collection-tweet-image video {
    width: 100%;
    width: 648px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid var(--grey-floating-panel);
}

.tweet-footer {
    width: 648px;
}

.tweet-footer, .collection-tweet-footer {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.tweet-metrics, .collection-tweet-metrics {
    display: flex;
    justify-content: space-between;
    color: var(--grey-font);
}

.tweet-metrics p {
    margin-right: 15px;
}

.save-to-collection, .remove-from-collection {
    position: relative;
    cursor: pointer;
    color: var(--blue-label);
    padding: 5px 10px;
    background-color: var(--grey-floating-panel);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.save-to-collection:hover, .remove-from-collection:hover {
    background-color: var(--grey-floating-panel-hover);
}

.save-to-collection svg, .remove-from-collection svg {
    fill: var(--blue-label);
    margin-right: 10px;
    width: 18px;
    height: 18px;
}


.save-to-collection-prompt {
    position: absolute;
    z-index: 20;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--grey-inputbg);
    border-radius: 15px;
    box-shadow: rgba(4, 74, 111, 0.7) 0px 0px 20px -5px;
    border: 1px solid var(--grey-font);
}

.save-to-collection-header {
    background-color: var(--grey-floating-panel);
    width: 350px;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 30px 0px 30px 40px;
}

.collection-login-prompt {
    text-align: center;
    margin-top: 20px;
}

.save-to-collection-item {
    cursor: pointer;
    display: flex;
    width: 100%;
    /* height: 100px; */
    padding: 20px 0px 20px 40px;
    border-bottom: 1px solid var(--grey-floating-panel);
}

.save-to-collection-item:last-child {
    border-bottom: 1px solid transparent;
}

.save-to-collection-item:hover, .save-to-collection-item:active {
    color: var(--blue-label);
    background-color: var(--grey-floating-panel-hover);
}

.save-to-collection-prompt svg {
    fill: var(--red);
}

.replying-to {
    cursor: pointer;
    color: var(--blue);
}

.replying-to:hover {
    color: var(--blue-hover);
}

.collections-page-header {
    font-weight: 700;
    font-size: 2.5rem;
    align-self: center;
    margin-bottom: 50px;
}

.collection-count {
    align-self: flex-start;
    margin-bottom: 10px;
}

.create-collection-cta {
    color: var(--blue);
    border-radius: 0;
    background-color: var(--grey-floating-panel-hover);
    fill: var(--blue);
    width: 250px;
    /* flex: 160px; */
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.create-collection-input-div {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-collection-input {
    padding: 7px 20px;
    font-size: 1rem;
    color: white;
    width: 400px;
    border-radius: 30px;
    margin-right: 20px;
    background-color: var(--grey-inputbg);
}

.create-collection-input:focus,  .create-collection-input:active, .create-collection-input:hover {
    border: 1px solid var(--blue);
    background-color: var(--bg);
    box-shadow: rgba(4, 74, 111, 1) 0px 0px 30px -10px;
}

.create-collection-input::placeholder {
    color: var(--grey-font);
}

.create-collection-close {
    position: relative;
    margin-left: 15px;
}

.create-collection-error {
    align-self: flex-start;
}



.collections-list {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 50px 0px;
}

.collection-item {
    min-width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--grey-floating-panel);
    border-bottom: 1px solid transparent;
    transition: 0.15s;
    margin: 5px 5px 5px 0px;
}

.collection-item:hover {
    background-color: var(--grey-floating-panel-hover);
    border-bottom: 1px solid var(--blue);
}

.collection-item[data-selected="true"] {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.remove-from-collection {
    color: var(--red);
}

.remove-from-collection svg {
    fill: var(--red);
}

.remove-from-collection-prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    color: white;
    width: 350px;
    height: 180px;
    background-color: var(--grey-floating-panel);
    transform: translate(-105px, -80px);
    border-radius: 10px;
    padding: 0px 20px;;
}

.remove-prompt-buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-prompt-buttons button {
    font-size: 0.9rem;
    margin: 0px 8px;
}

.remove-prompt-buttons button:hover {
    opacity: 0.85;
}

.remove-prompt-delete {
    background-color: var(--red);
}







.loader {
    margin-left: 5px;
    display: inline-block;
    border: 3px solid white;
    border-top: 2px solid transparent;
    border-radius: 100px;
    width: 25px;
    height: 25px;
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}




.error {
    color: var(--red) !important;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: -15px;
    margin-bottom: 20px;
}

.auth-error {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--red);
    margin-top: -15px;
    margin-bottom: 20px;
}

.color-blue {
    color: var(--blue);
}

.hide {
    display: none;
}